@import "color_medida";

.barra-lateral{
    font-family: Roboto;
    background-image: linear-gradient(-45deg,$azulbajo,$azulenc);
    color: #fff;
    min-height: 100vh;
    max-height: 100%;
    padding: 0;
    position: absolute;
    // overflow: auto;
    a{
        font-family: inherit;
        color: #fff;
    }
    // LOGO
    .logo{
        margin: 10px 10px;
        border-bottom: 1px solid white;
        font-family: inherit;
        h6{
            padding: 15px 0;
            text-align: center;
            font-weight: 500;
            margin: 0;
        }
        img{
            float: left;
            max-width: 45px;
            max-height: 45px;
        }
        a{
            margin: auto 0px;
            text-decoration: none;
            font-family: inherit;
            &:hover{
                text-decoration: none;
                color: #295ef1;
            }
        }
    }

    // segundo menu del panel

    .menu-second{
        margin: .5rem 0rem;
        h6{
            margin: auto 0.95rem;
            padding: 0.32rem 0px;
        }
        a{
            margin: auto;
            text-decoration: none;
            &:hover{
                 text-decoration: none;
                 color: rgb(199, 34, 34);
            }
        }
        .notificacion{
            margin: auto 0px;
            color: inherit;
            text-decoration: none;
            &:hover{
                color: orange;
                text-decoration: none;
            }
        }
        .dropdown-menu{
            margin-left: 10rem;
        }
    }
    /*      MENU        */
    .menu{
        a{
            display: block;
            width: 100%;
            padding: 1rem;
            font-weight: 500;
            border-bottom: 1px solid rgba(255,255,255,.1);
            text-decoration: none;
            &:hover{
                background: $azulenc;
                color: white;
                border:0.5px solid whitesmoke;
                text-decoration: none;
            }
            i{
                margin-right: 10px;
            }
        }
        ul{
            a{
                background: rgba(46,46,46,.5);
                color: rgb(242,242,242);
                padding-left: 40px;
                transition: transform .01s;
                white-space: nowrap;
                &:hover{
                    // color:#3160e2;
                    border-bottom: 1px solid white;
                    border-left: 2px solid white;
                    transform: scale(.99);
                }
            }
        }
    }
    
}