@import "color_medida";

.main-section{
    min-height: 100%;
    width: 100vw;
    padding-top: 10px;
    // padding-bottom: 2%;
    background: $grisAdmin;
    // background: #fff;
}
    // Contenido del centro del index

.section-contenido{
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 0px black;
}
.contenido__encabezado{
    // background: linear-gradient($negrob,rgb(85, 85, 85));
    // background: $azulbajo;
    width: 80vw;
    height: 50px;
    padding: 12px;
}
.titulo{
    color:  white;
}

.btn-new{
    width: auto;
    height: 30px;
    padding: 2.5px 15px 10px 15px;
    margin-left: 50px;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 2.5px;
    &:hover{
        text-decoration: none;
        background: rgb(6, 99, 180);
    }
}

.option-search{
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 30px;
    border: 0.5px solid #f2f2f2;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius:  5px;
    background: transparent;
    margin-right: 0px;
    &:focus{
        outline: none;
    }
    option{
        color: #000;
    }
}
.etiqueta{
    color: #f2f2f2;
    font-size: 16px;
    margin: auto 0px;
    margin-right: 10px;
}
.buscar{
    font-size: 16px;
    height: 30px;
    border: 0.5px solid #f2f2f2;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    color: #fff;
    padding-left: 10px;
    padding-right: 28px;
    &:focus{
    outline: none;
    }
}
.icon-buscar{
    width: 30px;
    height: 30px;
    color: #f2f2f2;
    padding: auto;
    margin: auto 0;
    margin-left: -25px;
}

.contenido__cuerpo{
    width: 80vw;
    height: auto;
    border-top: 0px solid transparent;
    // background: inherit;
    // background: white;
    .enc-tabla{
        background: white;
    }
    th, td{
        border: 1px solid rgb(124, 124, 124);
        font-size: 14px;
    } 
    .frecuencia{
        width: 50%;
        &-numero{
            border-right: 0.05px solid lightgrey;
            border-radius: 0.25rem 0 0 0.25rem;
            &:focus{
                border-right: 0.05px solid cornflowerblue;
            }
        }
        &-tipo{
            border-left: 0.05px solid lightgrey;
            border-radius: 0 0.25rem 0.25rem 0;
            &:focus{
                border-left: 0.05px solid cornflowerblue;
            }
        }
    }
}
.boton{
    padding: 4.5px .9rem;
    color: #ffffff;
    border-radius: 2.5px;
    border: none;
}
.boton-edit{
    background: hsl(41,90,50);
    &:hover{
        background: hsl(41,90,40);
    }
}
.boton-activar{
    background: hsl(130, 60, 40);
    &:hover{
        background: hsl(130, 50, 50);
    }
}
.boton-eliminar{
    background: rgb(209, 36, 36);
    &:hover{
        background: rgb(255, 1, 1);
    }
}
.boton-mirar{
    background: hsl(0, 0, 80);
    &:hover{
        background: hsl(0, 0, 60);
    }
}
.tabla-contenido{
    font-size: 15px;
    padding: 10px 10px -5px 10px;
}

.modal-body{
    label{
        color: black;
    }
}

//------------------- DASHBOARD--------------------
// ETIQUETAS

.section__info{
    width: 250px;
}
.dashboard{
    width: auto;
    height: 15vh;
    font-size: 1rem;    
}

.dbicon, .dbcontenido{
    color: white;
    text-align: center;
}

// GRAFICOS
.caja{
    position: relative;
    width: 39.5vw;
    height: auto;
    background-color: white;
    padding: 1px;
    // margin-right: .25rem;
    // box-shadow: 2px 2px 10px 0px black;
}

.caja:nth-child(3){
    // width: 79.5vw;
    height: 25%;
}


.barravr{
    border-right: 3px solid $grisAdmin;
    // border-bottom: 1.5px solid $grisAdmin;
}
.barravl{
    // border-top: 1.5px solid $grisAdmin;
    border-left: 3px solid $grisAdmin;
}

.DBServicios{
    height: 5px;
}