@import "color_medida";

.barrah{
    height: 60px;
    background: #fff;
    border-bottom: 1px solid rgb(153, 153, 153);
    color: hsl(0, 0%, 35%);
    // color:rgb(82, 82, 82);
    // background:linear-gradient(rgb(190, 190, 190),white);
    // position: absolute;
    // z-index: 2;
}

// Nombre de la pagina
.barrah__encabezado1, .barrah__titulo{
    margin: auto 0;
}

.usuario{
    margin: auto 0;
    font-size: 14px;
    color: inherit;
    // color: rgb(107, 106, 106);
}
.Salir{
    margin: auto;
    margin-left: auto;
    color: inherit;
    text-decoration: none;
    &:hover{
        color: rgb(223, 52, 52);
        text-decoration: none;
    }
}
.notificacion{
    margin: auto;
    color: inherit;
    text-decoration: none;
    &:hover{
        color: orange;
        text-decoration: none;
    }
    &:focus{
        color: #fff;
        text-decoration: none;
    }
}
    // .boxl{
    //     width: 0;
    //     height: 0;
    //     position: absolute;
    //     top: 0px;
    //     left: -40px;
    //     // background: red;
    //     border-left: 20px solid transparent;
    //     border-top: 30px solid transparent;
    //     border-right: 20px solid #fff;
    //     border-bottom: 30px solid transparent;
    // }
    // .boxr{
    //     width: 20px;
    //     height: 20px;
    //     position: absolute;
    //     bottom: -1px;
    //     right: 0px;
    //     background: #ffffff;
    // }
