* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

body {
  background: #ecf0f5;
  font-size: 16px;
  font-family: sans-serif, Arial, Helvetica;
}

.barra-lateral {
  font-family: Roboto;
  background-image: linear-gradient(-45deg, #599cff, #2c4eac);
  color: #fff;
  min-height: 100vh;
  max-height: 100%;
  padding: 0;
  position: absolute;
  /*      MENU        */
}

.barra-lateral a {
  font-family: inherit;
  color: #fff;
}

.barra-lateral .logo {
  margin: 10px 10px;
  border-bottom: 1px solid white;
  font-family: inherit;
}

.barra-lateral .logo h6 {
  padding: 15px 0;
  text-align: center;
  font-weight: 500;
  margin: 0;
}

.barra-lateral .logo img {
  float: left;
  max-width: 45px;
  max-height: 45px;
}

.barra-lateral .logo a {
  margin: auto 0px;
  text-decoration: none;
  font-family: inherit;
}

.barra-lateral .logo a:hover {
  text-decoration: none;
  color: #295ef1;
}

.barra-lateral .menu-second h6 {
  margin: auto 15px;
  padding: 20px 0px;
}

.barra-lateral .menu-second a {
  margin: auto;
  text-decoration: none;
}

.barra-lateral .menu-second a:hover {
  text-decoration: none;
  color: #c72222;
}

.barra-lateral .menu a {
  display: block;
  width: 100%;
  padding: 15px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.barra-lateral .menu a:hover {
  background: #2c4eac;
  color: white;
  border: 0.5px solid whitesmoke;
  text-decoration: none;
}

.barra-lateral .menu a i {
  margin-right: 10px;
}

.barra-lateral .menu ul a {
  background: rgba(46, 46, 46, 0.5);
  color: #f2f2f2;
  padding-left: 40px;
  -webkit-transition: -webkit-transform .01s;
  transition: -webkit-transform .01s;
  transition: transform .01s;
  transition: transform .01s, -webkit-transform .01s;
}

.barra-lateral .menu ul a:hover {
  border-bottom: 1px solid white;
  border-left: 2px solid white;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

header {
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #999999;
  position: absolute;
  color: #525252;
  z-index: 1;
}

header h6 {
  margin: auto 0;
  font-size: 14px;
  color: inherit;
}

header .title_header {
  margin: auto 0;
}

header .salir {
  margin: auto 10px;
  color: inherit;
  text-decoration: none;
}

header .salir:hover {
  color: #df3434;
  text-decoration: none;
}

header .notificacion {
  margin: auto 0px;
  color: inherit;
  text-decoration: none;
}

header .notificacion:hover {
  color: orange;
  text-decoration: none;
}

section {
  min-height: 100%;
  width: 100vh;
  padding-top: 10px;
  background: #ecf0f5;
}

section .contenido {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 10px 0px black;
          box-shadow: 2px 2px 10px 0px black;
}

section .contenido .contenido-encabezado {
  width: 80vw;
  height: 50px;
  padding: 12px;
}

section .contenido .contenido-encabezado .titulo {
  color: white;
}

section .contenido .contenido-encabezado .btn-new {
  width: auto;
  height: 30px;
  padding: 2.5px 15px 10px 15px;
  margin-left: 50px;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 2.5px;
}

section .contenido .contenido-encabezado .btn-new:hover {
  text-decoration: none;
  background: #0663b4;
}

section .contenido .contenido-encabezado select {
  font-size: 16px;
  color: white;
  height: 30px;
  border: 0.5px solid #f2f2f2;
  border-right: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: transparent;
  margin-right: 0px;
}

section .contenido .contenido-encabezado select:focus {
  outline: none;
}

section .contenido .contenido-encabezado select option {
  color: #000;
}

section .contenido .contenido-encabezado label {
  color: #f2f2f2;
  font-size: 16px;
  margin: auto 0px;
  margin-right: 10px;
}

section .contenido .contenido-encabezado .buscar {
  font-size: 16px;
  height: 30px;
  border: 0.5px solid #f2f2f2;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: transparent;
  color: #fff;
  padding-left: 10px;
  padding-right: 28px;
}

section .contenido .contenido-encabezado .buscar:focus {
  outline: none;
}

section .contenido .contenido-encabezado .icon-buscar {
  width: 30px;
  height: 30px;
  color: #f2f2f2;
  padding: auto;
  margin: auto 0;
  margin-left: -25px;
}

section .contenido .cuerpo-contenido {
  width: 80vw;
  height: auto;
  border-top: 0px solid transparent;
}

section .contenido .cuerpo-contenido .enc-tabla {
  background: white;
}

section .contenido .cuerpo-contenido th, section .contenido .cuerpo-contenido td {
  border: 1px solid #7c7c7c;
  font-size: 14px;
}

section .contenido .cuerpo-contenido .btn-edit, section .contenido .cuerpo-contenido .btn-eliminar {
  padding: 5px 15px;
  color: #ffffff;
  border-radius: 2.5px;
}

section .contenido .cuerpo-contenido .btn-edit {
  border: none;
  background: #ffa600;
}

section .contenido .cuerpo-contenido .btn-edit:hover {
  background: #da920d;
}

section .contenido .cuerpo-contenido .btn-eliminar {
  border: none;
  background: #d12424;
}

section .contenido .cuerpo-contenido .btn-eliminar:hover {
  background: #ff0101;
}

section .contenido .tabla-contenido {
  font-size: 15px;
  padding: 10px 10px -5px 10px;
}

section .contenido .modal-body label {
  color: black;
}

section .dashboard {
  width: 240px;
  height: 15vh;
}

section .dashboard .dbicon, section .dashboard .dbcontenido {
  color: white;
  text-align: center;
}

section .caja {
  background-color: white;
  padding: 5px;
}

section .barravr {
  border-right: 3px solid #ecf0f5;
}

section .barravl {
  border-left: 3px solid #ecf0f5;
}

section .DBServicios {
  height: 5px;
}

.ui-datepicker {
  width: 20%;
  background: white;
}

.ui-datepicker table {
  font-size: 12px;
}

.ui-datepicker .ui-datepicker-header {
  font-size: 14px;
  background: white;
  color: black;
  border-bottom: 1px solid gray;
}

.ui-datepicker th {
  color: black;
}

.ui-datepicker .ui-state-dafault {
  text-align: center;
  background: black;
}

.ui-datepicker .ui-state-active {
  background: -webkit-gradient(linear, left top, left bottom, from(#439ae6), to(#0083f5));
  background: linear-gradient(#439ae6, #0083f5);
  color: #ffffff;
}

.ui-datepicker .ui-icon {
  background-image: url("../img/datepicker/ui-icons_444444_256x240.png");
}

@media screen and (max-width: 576px) {
  .barra-lateral {
    min-height: auto;
    position: relative;
  }
  .ui-datepicker {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .barra-lateral {
    min-height: auto;
    position: relative;
  }
  .barra-lateral .fondo-enlace {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  .barra-lateral .fondo-enlace.active {
    display: block;
  }
  .barra-lateral nav {
    width: 60%;
    position: fixed;
    background: rgba(0, 0, 0, 0.95);
    z-index: 100;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    overflow: scroll;
  }
  .barra-lateral nav .titulomenu2 {
    border-bottom: 1px solid gray;
    padding: 10px;
  }
  .barra-lateral nav.active {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
  .ui-datepicker {
    width: 40%;
  }
}

@media screen and (max-width: 575px) {
  .barra-lateral .menu a {
    display: inline-block;
    padding: 20px 15px;
  }
  .ui-datepicker {
    width: 60%;
  }
}
/*# sourceMappingURL=estilo.css.map */