@import "color_medida";

*{
    padding: 0;
    margin: 0;
}

body{
    // background: linear-gradient(45deg, $azulbajo, $azulenc);
    background-image:url("../img/5031763-landscape-island-nature-hd-4k-clouds.jpg");
    background-size: cover;
    display: flex;
    min-height: 100vh;
}

.login{
    // border: 1px solid gray;
    width: 50%;
    height: 60vh;
    margin: auto;
    padding: 25px;
    position: relative;
    z-index: 1;
    background: #ffffff;
    border-radius: 5px;

    .formulario{
        width: 60%;
        height: 100%;
        // margin: 0.5rem 0;

        label{
            margin-right: 25px;
            width: 50%;
        }
        input[type=text], input[type=password]{
            width: 100%;
            border: none;
            border-bottom: 1px solid gray;
            margin-bottom: 1rem;
            background: inherit;
            padding-left: 25px;

            &:focus{
                border-bottom: 1px solid $azulbajo;
            }
        }
        button{
            margin: 5px calc((100% - 40%) / 2);
            width: 7em;
            height: 2.5em;
            border: none;
            background: rgb(26, 170, 26);
            border-radius: 5px;
            color: #ffffff;
            &:hover{
                background: rgb(12, 134, 12);
            }
        }
    }
    .presentacion{
        height: 100%;
        width: 40%;
        background: linear-gradient(45deg, $azulbajo, $azulenc);
        // background: linear-gradient(-180deg,#0a0a0ab6, #303030b6);
        background-size: cover;
        right: 0;
        top: 0;
        position: absolute;
        z-index: 2;
        h4{
            margin: 1.5em auto 0 auto;
            text-align: center;
            color: #ffffff;
        }
        img{
            display: block;
            margin: 1.5em auto;
        }
        h5{
            // margin-top: 1.25em;
            text-align: center;
            color: #ffffff;
        }
    }
    h5{
        text-align: center;
    }
    .icon{
        margin-right: -1rem;
    }

}
@media screen and (max-width: 1200px){
    .login{
        min-height: 60vh;
    }

}

@media screen and (max-width: 768px){
    body{
        background-image: url("../img/5031763-landscape-island-nature-hd-4k-clouds.jpg");
        background-size: cover;
    }
    .login{
        background: linear-gradient(-180deg,#0a0a0ab6, #303030b6);
        min-width: 65%;
        min-height: 70vh;
        
        .formulario{
            color: #ffffff;
            min-width: 100%;
            font-size: 500;

            input[type=text], input[type=password]{
                color: inherit;
                &:focus{
                    border-bottom: 1px solid #ffffff;
                }
            }

            button{
                margin: 10px auto auto;
            }
        }
        .presentacion{
            display: none;
        }
    }
}

@media screen and (max-width: 544px){
    .login{
        min-width: 70%;
        min-height: 70vh;
    }
}